/* Base */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#main-content-container {
    margin: 0;
    padding: 0;
}

#main-nav-bar {
    padding: .5em;
    padding-left: 15em;
    padding-right: 15em;
}

/* Home Page */

#home-hero-section {
    background:
        linear-gradient(
            rgba(45, 45, 45, .25),
            rgba(45, 45, 45, .35)
        ),
        url("images/aviv-ben-or-1494731-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 5em;
}

#home-three-column-section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#home-three-columns-container {
    padding-right: 5em;
    padding-left: 5em;
}

#home-three-columns-container .column {
    padding-right: 3em;
    padding-left: 3em;
}

#home-three-columns-container .card {
    border: solid 3px;
    box-shadow: none;
}

#home-five-column-section {
    margin-top: 10em;
    margin-bottom: 10em;
}

#home-five-columns-container {
    padding-right: 15em;
    padding-left: 15em;
}

#home-five-columns-container .column {
    padding-left: 1em;
    padding-right: 1em;
}

#home-five-columns-container .card {
    border: none;
    box-shadow: none;
    text-align: center;
}

#home-five-columns-container .card i {
    height: 100%;
    width: 100%;
    font-size: 5em;
}

#home-two-column-section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#home-two-column-section h3 {
    text-align: center;
}


#home-two-column-section h4 {
    text-align: center;
}

/* About Page */

