/* Base */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#main-content-container {
    margin: 0;
    padding: 0;
}

#main-nav-bar {
    padding: .5em;
    padding-left: 20em;
    padding-right: 20em;
}

.navbar-brand {
    padding-right: 3em;
}

#navbar-main-menu a {
    font-weight: bold;
    padding-left: 2em;
    padding-right: 2em;
}

#navbar-main-menu a:hover {
    color: rgba(0,0,0,0.22);
}

.footer {
    background-color: rgb(233, 233, 233);
}

.hero-section {
    background:
        linear-gradient(
            rgba(45, 45, 45, .25),
            rgba(45, 45, 45, .35)
        ),
        url("images/aviv-ben-or-1494731-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 2em;
}

.hero-section h1 {
    font-size: 3.5em;
}

.hero-section h2 {
    font-size: 2em;
}

/* Buttons */

.button,
button {
    border: solid 4px;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
    transition: all .3s;
    background-color: #ffffff !important;
}

button {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.button:hover,
button:hover {
    color: #b5b5b5;
}

.ce-inline-tool {
    border: none;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent !important;
}

/* Home Page */

#home-three-column-section {
    margin-bottom: 5em;
}

#home-three-columns-container {
    width: 90%;
    margin: 0 auto;
}

#home-three-columns-container .card {
    border: solid 4px;
    box-shadow: none;
    transition: all .3s;
}

#home-three-columns-container .card:hover {
    border-color: #b5b5b5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#home-five-column-section {
    margin-top: 10em;
    margin-bottom: 10em;
    background-color: #b5b5b5;
}

#home-five-columns-container {
    width: 90%;
    margin: 0 auto;
}

#home-five-columns-container .column {
    padding-left: 1em;
    padding-right: 1em;
}

#home-five-columns-container .card {
    border: solid 4px;
    box-shadow: none;
    transition: all .3s;
    text-align: center;
}

#home-five-columns-container .card:hover {
    border-color: #b5b5b5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#home-five-columns-container .card i {
    height: 100%;
    width: 100%;
    font-size: 5em;
}

#home-two-column-section {
    margin-top: 5em;
    margin-bottom: 5em;
}

#home-two-column-section h3 {
    text-align: center;
}


#home-two-column-section h4 {
    text-align: center;
}

.home-two-columns-container {
    width: 80%;
    padding-top: 3em;
    margin: 0 auto;
}

.home-two-columns-container .column .content {
    font-size: 1.5em;
}

/* About Page */

#about-blurb {
    font-size: 1.5em;
    padding-right: 10em;
    padding-left: 10em;
}

/* Blog Page */

#articles-section h3 {
    text-align: center;
    font-size: 3em;
}

#editor-section {
    margin: 0 auto;
    width: 80%;
}

#post-info-form {
    margin: 0 auto;
    width: 55%;
}

input[type=text],
input[type=date] {
    margin-bottom: 1.5em;
    border: solid 4px;
    border-color: #4a4a4a;
    height: 3.5em;
}

#editor-container {
    border: solid 4px;
}

#articles-columns-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 3em;
    padding-bottom: 3em;
}

.article-card {
    border: solid 4px;
    box-shadow: none;
    transition: all .3s;
}

.article-card:hover {
    border-color: #b5b5b5;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.article-card h4 {
    text-align: center;
    font-size: 1.75em;
}

.article-card h5 {
    text-align: center;
    font-size: 1.25em;
}

.article-card h6 {
    text-align: center;
    font-size: 1em;
    padding-top: 4em;
}

.article-card button {
    margin-bottom: 1em;
}