{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

<script src="{% static 'app/scripts/editor.js' %}"></script>

<section class="hero is-info is-medium hero-section">
    <div class="hero-body">
        <div class="container">
            <h4 class="title">{{ article.title }}</h4>
            <h5 class="title">by: {{ article.author }}</h5>
            <h6 class="title">Date: {{ article.date }}</h6>
        </div>
    </div>
</section>
<section id="detail-article-container" class="section">
    <div id="editor-container" class="content"></div>
    <script type="text/javascript">
    
        $(document).ready(init);

        function init() {
           
            var jsonString = {{ article.articleJson | safe }}
            console.log(jsonString);
        
            var editor = new EditorJS({

                holderId: 'editor-container',
                autofocus: false,
                tools: {
                    header: {
                        class: Header,
                        inlineToolbar: false
                    },
                    list: {
                        class: List,
                        inlineToolbar: false
                    },
                    checklist: {
                        class: Checklist,
                        inlineToolbar: false
                    },
                    quote: {
                        class: Quote,
                        inlineToolbar: false
                    },
                    warning: Warning,
                    marker: {
                        class:  Marker
                    },
                    code: {
                        class:  CodeTool
                    },
                    delimiter: Delimiter,
                    inlineCode: {
                        class: InlineCode
                    },
                    linkTool: LinkTool,
                    embed: Embed
                },
                data: {
                    blocks:
                        jsonString
                }
            });
        
        }

    </script>
    <style>

        #editor-container {
            pointer-events: none !important;
        }

        .ce-toolbar__actions {
            display: none !important;
        }

        .ce-toolbar__content {
            display: none !important;
        }

        .ce-inline-toolbar {
            display: none !important;
        }

    </style>
</section>

{% endblock %}