{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<script src="{% static 'app/scripts/editor.js' %}"></script>
<script src="{% static 'app/scripts/blog-page.js' %}"></script>

<section class="hero is-info is-medium hero-section">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog
            </h1>
        </div>
    </div>
</section>

<section id="articles-section" class="section">
    <h3 class="title">Articles</h3>
    <div id="articles-columns-container" class="columns">

    </div>
    <center>
        <button id="write-new-article-btn">Write New Article</button>
    </center>
</section>

{% csrf_token %}

<section id="editor-section" class="section" style="display:none">
    <div id="editor-container" class="content"></div>
    <center>
        <button id="save-new-article-btn">Save</button>
        <button id="cancel-new-article-btn">Cancel</button>
    </center>
</section>

{% endblock %}