{% extends "app/layout.html" %}

{% block content %}
{% load static %}


<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image@latest"></script><!-- Image -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
<script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

<script src="{% static 'app/scripts/editor.js' %}"></script>
<script src="{% static 'app/scripts/blog-page.js' %}"></script>

<section class="hero is-info is-medium hero-section">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Blog
            </h1>
        </div>
    </div>
</section>

<section id="articles-section" class="section">
    <h3 class="title">Articles</h3>
    <div id="articles-columns-container" class="columns">

    </div>
    <center>
        <button id="write-new-article-btn">Write New Article</button>
    </center>
</section>

{% csrf_token %}

<section id="editor-section" class="section" style="display:none">
    <form id="post-info-form">
        <input id="title-input" name="title-input" class="input" type="text" placeholder="Article Title" required autofocus>
        <input id="author-input" name="author-input" class="input" type="text" placeholder="Author Name" required>
        <input id="date-input" name="date-input" class="input" type="date" required>
    </form>
    <div id="editor-container" class="content"></div>
    <center>
        <button id="save-new-article-btn" type="submit">Save</button>
        <button id="cancel-new-article-btn">Cancel</button>
    </center>
</section>

{% endblock %}